#euromapcontainer {
    text-align: left;
    min-width: 310px;
    max-width: 700px;
    height: 600px;
    margin: 0 auto;
}

#maxtemp1 {
    text-align: left;
    min-width: 310px;
    max-width: 700px;
    height: 600px;
    margin: 0 auto;
}

#maxtemp2 {
    text-align: left;
    min-width: 310px;
    max-width: 700px;
    height: 600px;
    margin: 0 auto;
}